.ProductsContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-top: 10px;
}

.ProductsContainer h2 {
    padding: 10px;
}

.ProductsContainerImgs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ProductsImg {
    width: clamp(20vw, 4vw, 10vw);
    height: auto;
}

@media screen and (max-width: 400px) {
    .ProductsContainerImgs {
        display: flex;
        justify-content: space-around;
    }
}